/*header*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #070320;
}

.header-container{
    padding: 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 50px;
    height: auto;
    transition: 0.3s ease-in-out;
    margin: 0px;
}

header img:hover {
    transform: scale(1.2);
    rotate: 10deg;
}

header .menu {
    display: flex;
    gap: 78px;
}

header .menu a {
    text-decoration: none;
    font-size: 16px;
    padding : 10px;
    transition: 0.3s ease-in-out;
}

header .menu a:hover {  
    transform: scale(1.05);
    border-radius: 6px;
}

#contact {
    border-radius: 6px;
    background-color: red;
}

#contact:hover {
    box-shadow: 0 0 5px #e30613;
    transform: scale(1.05);
}


a {
    color: white;
    font-size: 16px;
    font-weight: 400;
}


